@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=El+Messiri:wght@700&display=swap');

.outer-border {
    max-width: 750px;
    width: auto;
    height: auto;
    text-align: center;
    border: 10px solid #fff;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;

}

.body-bg {
    background: rgb(241, 241, 241);
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 20px;
    margin-top: 0px;
    margin-bottom: 20px;

}


.certification {
    font-size: 30px;
    font-weight: 20px;
    color: #0a0a23;
    padding: 18px;
    margin: auto;
    font-family: 'Times New Roman', Times, serif;
}

.certify {
    font-size: 20px;
    color: #0a0a23;
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
}

.certify2 {
    font-size: 20px;
    color: #0a0a23;
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
    float: left;
    margin-bottom: 40px;

}

.name {
    font-size: 30px;
    color: #0a0a23;
    font-family: 'El Messiri', sans-serif;
}

.head {
    display: flex;
    background-color: #fff;
    border: 0px;
    margin: 20px;
    margin-bottom: 0px;

}

.date {
    font-size: 20px;
    color: #0a0a23;
}

.verify {
    font-family: 'Times New Roman', Times, serif;
    font-size: 11px;
    text-decoration: none;
    color: #0a0a23;
    word-wrap: break-word;
}

.issued {
    display: flex;
    font-family: 'Roboto Mono', monospace;
    font-weight: bolder;
    color: #0a0a23;
    margin: auto;
    align-items: center;
    padding-right: 10px;
    padding-left: 10px;
}


body {
    background-color: #0a0a23;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    align-content: center;
    user-select: none;
    /* supported by Chrome and Opera */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
}

.btn {
    position: relative;
    display: inline-block;
    width: 585px;
    height: 50px;
    text-align: center;
    line-height: 40px;
    color: #fff;
    font-size: 24px;
    font-weight: 600;
    vertical-align: middle;
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'El Messiri', sans-serif;
    box-sizing: border-box;
    background: linear-gradient(45deg, #00ffd5, #002bff, #ff0000, #ff7300, #fffb00, #48ff00, #7a00ff, #ff00c8, #ff0000, #00ffd5);
    background-size: 400%;
    z-index: 1;
    border-radius: 0px;
    margin: 6px; 
    

}

.btn:hover {
    animation: animate 8s linear infinite;
    border-radius: 0px;
    color: #fff;
}

@keyframes animate {
    0% {
        background-position: 0%;
    }

    100% {
        background-position: 400%;
    }
}

.btn:before {
    content: "";
    position: absolute;
    top: -5px;
    right: -5px;
    bottom: -5px;
    left: -5px;
    z-index: -1;
    background: linear-gradient(45deg, #00ffd5, #002bff, #ff0000, #ff7300, #fffb00, #48ff00, #7a00ff, #ff00c8, #ff0000, #00ffd5);
    background-size: 400%;
    opacity: 0;
    transition: .2s;
}

.btn:hover:before {
    filter: blur(40px);
    opacity: 1;
    animation: animate 8s linear infinite;
}

@media print {

    .no-print,
    .no-print * {
        display: none !important;
    }

}